﻿
@Scripts.Render("~/bundles/jquery")
<style>
    .batch{

        background-color:white;
        border:none;
        border-radius:0px
    }

</style>

    <div class="jumbotron" style="background-color:white;opacity:.9">
    @*<table id="tab_logic">

                @{int i = 0;
                    for (i = 0; i < 6; i++)
                    {
                        <tr>
                            <td>
                                @Html.TextBoxFor(model => model[i].id)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model[i].testSub)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model[i].testDate)
                            </td>
                        </tr>
                    }


                }
        </table>*@
    <form>
        <table class="table" id="maintable">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Session</th>
                    <th>Starts On</th>
                </tr>
            </thead>
            <tbody>
                <tr class="data-contact-person">
                    <td>
                        <input type="text" id="course" name="course" class="form-control course batch" placeholder="course" required maxlength="15"/>
                    </td>
                    <td>
                        <input type="text" id="session" name="session" class="form-control session batch" value="Week End" required maxlength="15"/>
                    </td>
                    <td>
                        <input type="date" id="startson" name="startson" class="form-control startson batch" placeholder="startson" required />
                    </td>
                    <td>
                        <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd">Add More</button>
                    </td>
                </tr>
                
            </tbody>

        </table>
        <button type="submit" id="btnSubmit" class="btn btn-primary pull-right btn-sm">Submit</button>
    </form>
</div>

@*<a id="add_row" class="btn btn-default pull-left">Add Row</a>*@
@*<script type="text/javascript">
        $(document).ready(function () {

            $("#add_row").click(function () {
                //$('#addr' + i).html("<td>" + (i + 1) + "</td><td><input name='name" + i + "' type='text' placeholder='Name' class='form-control input-md'  /> </td><td><input  name='mail" + i + "' type='text' placeholder='Mail'  class='form-control input-md'></td><td><input  name='mobile" + i + "' type='text' placeholder='Mobile'  class='form-control input-md'></td>");

                $('#tab_logic').append('<tr><td>@Html.TextBoxFor(model => model.id)</td><td>@Html.TextBoxFor(model => model.testSub)</td><td>@Html.TextBoxFor(model => model.testDate)</td></tr>');

            });
            $("#delete_row").click(function () {
                if (i > 1) {
                    $("#addr" + (i - 1)).html('');
                    i--;
                }
            });

        });
    </script>*@
<script type="text/javascript">
    //$(document).ready(function () {

    //    $("#datepicker").datetimepicker()({
    //        altField: "#alternate",
    //        altFormat: "DD, d MM, yy"
    //    });
    //});
    $(document).ready(function () {
        $(document).on("click", ".classAdd", function () { //
            var rowCount = $('.data-contact-person').length + 1;
            var contactdiv = '<tr class="data-contact-person">' +
                '<td><input type="text" name="course' + rowCount + '" class="form-control course" placeholder="Course" required maxlength="15"/></td>' +
                '<td><input type="text" name="session' + rowCount + '" class="form-control session" value="WeekEnd" required maxlength="15"/></td>' +
                '<td><input type="date" name="startson' + rowCount + '" class="form-control startson" placeholder="Starts On"/></td>' +
                '<td><button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd">Add More</button>' +
                '<button type="button" id="btnDelete" class="deleteContact btn btn btn-danger btn-xs">Remove</button></td>' +
                '</tr>';
            $('#maintable').append(contactdiv); // Adding these controls to Main table class
        });
    });

    //$(document).ready(function () {
    //    $(document).on("click", ".classAdd", function () { //
    //        var rowCount = $('.data-contact-person').length + 1;
    //        var contactdiv = '<tr class="data-contact-person">' +
    //            '<td><input type="text" name="id' + rowCount + '" class="form-control f-name01" placeholder="Subject" /></td>' +
    //            '<td><input type="text" name="subname' + rowCount + '" class="form-control l-name01" /></td>' +
    //            '<td><input type="text" name="date' + rowCount + '" class="form-control email01" /></td>' +
    //            '<td><button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd">Add More</button>' +
    //            '<button type="button" id="btnDelete" class="deleteContact btn btn btn-danger btn-xs">Remove</button></td>' +
    //            '</tr>';
    //        $('#maintable').append(contactdiv); // Adding these controls to Main table class
    //    });
    //});

    $(document).on("click", ".deleteContact", function () {
        $(this).closest("tr").remove(); // closest used to remove the respective 'tr' in which I have my controls
    });
    function getAllEmpData() {
        var data = [];

        $('tr.data-contact-person').each(function () {
            if($(this).find('.course').val() !=null && $(this).find('.course').val()!="" && $(this).find('.session').val()!=null && $(this).find('.session').val()!="" && $(this).find('.startson').val()!=null && $(this).find('.startson').val()!="")
            {
                var course = $(this).find('.course').val();
                var session = $(this).find('.session').val();
                var startsOn = $(this).find('.startson').val();
            }
           
            //Bind to the last name with class l-name01
            if (course != null && course != "" && session != null && session != "" && startsOn != null && startsOn != "") {
                var alldata = {

                    'course': course, //LName as per Employee class name in .cs
                    'session': session,
                    'startsOn': startsOn//EmailId as per Employee class name in .cs
                }
                console.log(alldata);
                data.push(alldata);
            }
            else {
                return null;
            }
        });

        return data;
    }
    $("#btnSubmit").click(function () {
        var a = JSON.stringify(getAllEmpData());
   
        console.log(a);
        //console.log(data);
        $.ajax({
            url: "/BatchDetails/SaveData",
            type: 'POST',
            dataType: 'json',
            data:JSON.stringify({ 'emp': a }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.success) {
                    window.location.href = "/BatchDetails/updateDetails";
                    alert("Successfully Updated");
                } else {
                    window.location.href = "/BatchDetails/updateDetails";
                    alert("Invalid data");
                }
            }
        });
        
       
    });
</script>