﻿

<!DOCTYPE html>
<html>
<head>
    <style>
        .pub {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
        }

            img:hover {
                box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            }
    </style>
</head>
<body>
    <div  style="background-color:antiquewhite;opacity:.9;padding-left:30px">
        <br/>
        <a  target="_blank" href="~/Content/Images/1.jpg">
            <img class="pub" src="~/Content/Images/1.jpg" alt="Kmaxx" style="width:200px">
        </a>
        <a  target="_blank" href="~/Content/Images/2.jpg">
            <img class="pub" src="~/Content/Images/2.jpg" alt="Kmaxx" style="width:200px">
        </a>
        <a  target="_blank" href="~/Content/Images/3.jpg">
            <img class="pub" src="~/Content/Images/3.jpg" alt="Kmaxx" style="width:200px">
        </a>
        <a target="_blank" href="~/Content/Images/4.jpg">
            <img class="pub" src="~/Content/Images/4.jpg" alt="Kmaxx" style="width:200px">
        </a>
        <br />
        <br />
    </div>
       

</body>
</html>
