﻿
@model IEnumerable<KMAXX.Models.FileUploadDBModel>

<div class="jumbotron" style="background-color:white;opacity:.9">
    @{ if (ViewBag.st == true)
        {

            <div><a href="http://www.tnpsc.gov.in/previous-questions.html" target="_blank">Click here to download TNPSC Exam Previous Year Question Paper</a></div>
            <br/>
            <div><h3>Question Papers</h3></div>
            <div>Students can download the question papers of weekly exams</div>
        }
        else
        {
            <div><h3>Current Affairs</h3></div>
            <div>Students can download the current affairs </div>
        }
    }
    <br/>
    Click on download Link to download files
    <br />
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            int id;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.ActionLink("Download", "Filedownload", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>
