﻿<style>
    p {
        color: white;
    }
</style>

<div style="background-color:#333333;opacity:.95;">
    <footer style="height:450px;">
        <div class="container-fluid">
            <div class="row" style="background-color:#333333;opacity:.95;">
                <div class="col-sm-3">
                  @*  <div class="col-sm-3" style="left: 100px; top: 50px; position: absolute;">*@
                        <div>
                            <div style="">
                                <h4 style="color:white">K-MAXX </h4>
                                <hr />
                                <p style="color:white"> <span class="glyphicon glyphicon-map-marker"></span>No 50, Pachaiyappas Hr Sec School</p>
                                <p>Vallal Pachaiyappan Street</p>
                                <p>Kanchipuram - 631502</p>
                                <p>Tamilnadu</p>
                                <p><span class="glyphicon glyphicon-phone"></span> +01 8681888575</p>
                                <p><span class="glyphicon glyphicon-envelope"></span>  kmaxxtnpsckanchi@gmail.com</p>
                            </div>
                        </div>
                    </div>
                <div class="col-sm-3">
                   @* <div class="col-sm-3" style="left: 400px; top: 36px; position: absolute;">*@
                        <div class="text-center">
                            <div><h4 class="form-control-static text-left" style="color:white">Quick Links</h4></div>
                            <hr />
                            <div  class="text-left">
                                <p>
                                    <a href="@Url.Action("Course", "Course")">
                                        <span style="color:white">Course</span>
                                    </a>
                                </p>
                                <p>
                                    <a href="@Url.Action("UpdateDetails", "BatchDetails")">
                                        <span style="color:white">Batch Details</span>
                                    </a>
                                </p>
                                <p>
                                    <a href="@Url.Action("publication", "currentAffairs")">
                                        <span style="color:white">Publications</span>
                                    </a>
                                </p>
                                <p>
                                    <a href="@Url.Action("Gallery", "Gallery")">
                                        <span style="color:white">Gallery</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                <div class="col-sm-3">
                   @* <div class="col-sm-3" style="left: 650px; top: 36px; position: absolute;">*@
                        <div class="text-center">
                            <div><h4 class="form-control-static text-left" style="color:white">Find Us</h4></div>
                            <hr />
                            <div class="text-left">
                                <p> <span> <a target="_blank" title="find us on Facebook" href="https://www.facebook.com/groups/369361143258615/"><img alt="follow me on facebook" src="~/Content/Images/if_social-facebook-square2_771366.png" border=0></a></span><span>Facebook</span><br /></p>
                              
                                <p><span><a href="http://kmaxxtnpsc.blogspot.in/" target="_blank" title="find us on Blog"> <img alt="follow me on blog" src="~/Content/Images/if_blogger_312520.png" /></a> </span><span>Blog</span></p>
                            </div>
                        </div>
                    </div>
               
                    <div class="col-sm-3">
                       @* <div class="col-sm-3" style="left: 900px; top: 50px; position: absolute;">*@
                            <section id="QueryForm">
                                @using (Html.BeginForm("sendqueries", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {


                                    @Html.AntiForgeryToken()
                                    <h4 style="color:white">Send Your Queries.</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">

                                        <div class="col-md-10">
                                            @Html.TextBox("name", null, new { @class = "form-control", @data_val = "true", @data_val_required = "Name is required", placeholder = "Your Name" })
                                            @Html.ValidationMessage("name", "", new { @class = "text-danger", @style = "color:white" })
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="col-md-10">
                                            @Html.TextBox("mailid", null, new { @class = "form-control", @data_val = "true", @data_val_required = "Enter Mail ID", @type = "email", placeholder = "yourmail@mail.com" })
                                            @Html.ValidationMessage("mailid", "", new { @class = "text-danger", @style = "color:white" })
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="col-md-10">
                                            @Html.TextBox("phonenumer", null, new { @class = "form-control", @data_val = "true", @data_val_required = "Enter Phone#", @type = "tel", @maxlength = "10", @data_val_regex = "Check Number", @data_val_regex_pattern = @"^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$", placeholder = "1234567890" })
                                            @Html.ValidationMessage("phonenumer", "", new { @class = "text-danger", @style = "color:white" })
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="col-md-10">
                                            @Html.TextArea("description", null, new { @class = "form-control", @data_val = "true", @data_val_required = "Type Query", @maxlength = "200", placeholder = "Maximum 200 char" })
                                            @Html.ValidationMessage("description", "", new { @class = "text-danger", @style = "color:white" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Submit" class="btn btn-default" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10 text-success">
                                            @ViewBag.status
                                        </div>
                                    </div>

                                }
                            </section>
                        </div>

                
            </div>
            </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <p>&copy; @DateTime.Now.Year - K-MAXX</p>
                </div>
            </div>
        </div>

    </footer>

</div>


@*<div class="col-sm-3" style="left: 900px; top: 50px; position: relative;">
        <div class="text-center">
            <div><h3 class="form-control-static text-left">Your Queries</h3></div>
            <div style="position:absolute" class="text-left">
                <p>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="name">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
                        </div>
                    </div>
                </p>
                <p>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="phnum">Phone Number:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="phnum" placeholder="Enter Phone Number" name="phnum">
                        </div>
                    </div>
                </p>
                <p>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="mail">Email ID:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="mail" placeholder="Enter Email ID" name="mail">
                        </div>
                    </div>
                </p>
                <p>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="des">Query:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="des" placeholder="Description" name="des"></textarea>
                        </div>
                    </div>
                </p>
                <p><button type="submit" class="btn btn-primary">Submit</button></p>
            </div>
        </div>
    </div>*@








@*<div id="main-wrap" style="height:350px;">
        <div id="sidebar" style="position:relative;left:150px;top:20px;color:black">
            <h3 class="form-control-static">K-MAXX TNPSC/TET <br />Coaching Centre</h3>
            <p class="glyphicon glyphicon-map-marker form-control-static">No 15, Pachaiyappas School</p>
            <p class="form-control-static">Kanchipuram</p>
            <p class="form-control-static">Tamilnadu - 631502</p>
            <p class="glyphicon glyphicon-phone form-control-static">(+91)8754008417</p><br />
            <p class="glyphicon glyphicon-envelope form-control-static">kmaxxgmail.com</p>
        </div>
        <div id="sidebar" style="width:200px;position:relative;left:250px;top:25px;color:black">
            <h3>Quick Links</h3>
            <p>
                <a href="@Url.Action("Course", "Course")">
                    <span style="color:#000000">Course</span>
                </a>
            </p>
            <p>
                <a href="@Url.Action("BatchDetails", "BatchDetails")">
                    <span style="color:#000000">Batch Details</span>
                </a>
            </p>
            <p>
                <a href="@Url.Action("Artifacts", "Artifacts")">
                    <span style="color:#000000">Artifacts</span>
                </a>
            </p>
            <p>
                <a href="@Url.Action("Gallery", "Gallery")">
                    <span style="color:#000000">Gallery</span>
                </a>
            </p>
        </div>
        <div id="sidebar" style="position:relative;left:270px;top:25px;width:100px;color:black">
            <h3>Find Us</h3>
            <p> <span> <a target="_blank" title="find us on Facebook" href="http://www.facebook.com/PLACEHOLDER"><img alt="follow me on facebook" src="~/Content/Images/if_social-facebook-square2_771366.png" border=0></a></span><span>Facebook</span><br /></p>
            <p><span><a href="#" title="find us on Twitter"> <img alt="follow me on twitter" src="~/Content/Images/if_twit_289612.png" /></a> </span><span>Twitter</span><br /></p>
            <p><span><a href="#" title="find us on Blog"> <img alt="follow me on blog" src="~/Content/Images/if_blogger_312520.png" /></a> </span><span>Blog</span></p>

        </div>
        <div id="sidebar" style="position:relative;left:350px;top:25px;color:black">
            <p><h3> Your Queries</h3></p>
            <p>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="name">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
                    </div>
                </div>
            </p>
            <p>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="phnum">Phone Number:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="phnum" placeholder="Enter Phone Number" name="phnum">
                    </div>
                </div>
            </p>
            <p>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="mail">Email ID:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mail" placeholder="Enter Email ID" name="mail">
                    </div>
                </div>
            </p>
            <p>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="des">Query:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="des" placeholder="Description" name="des"></textarea>
                    </div>
                </div>
            </p>
            <p><button type="submit" class="btn btn-primary">Submit</button></p>
        </div>

    </div>*@
@*<p>Name<input id="name" class="form-control" type="text" placeholder="Name" /></p><br/>
    <p><span>Phone Number</span><span><input id="phone"class="form-control" type="text" placeholder="Phone Number" /></span></p>
    <p><span>Email ID</span><span><input id="mail" class="form-control" type="text" placeholder="Mail ID" /></span></p>
    <p><span>Message</span><span><textarea id="Message" class="form-control" rows="5" cols="20" placeholder="Queries"></textarea></span></p>*@



@*<div id="map" style="position:relative;bottom:500px;width:40%;height:20%"></div>*@





