﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="~/tit1.png" />
    <link rel="icon" type="image/ico" href="~/tit1.png" />
    <link rel="apple-touch-icon" type="image/ico" href="~/tit1.png" />
    <title>@ViewBag.Title - K-Maxx</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />


    <style>
        body {
            
            background-image: url('../../Content/Images/background_news.jpg');
           
        }
        /* layout */


        .navbar-right {
            position: relative;
            right: 120px;
        }

        .navbar-default .navbar-nav > li > a {
            color: #800000;
        }

        .navbar-default {
            border-color: black;
            background-color: #800000;
        }

        h4::first-letter {
            font-size: 40px;
        }

        .apps {
            font-weight: 600;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding-bottom: 30px;
            color: #8A2BE2;
        }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: orange;
        }
        .navbar-toggle:focus {
        background-color:#00ace6;
        }
       @@media screen and (max-width : 1920px){
  .div-only-mobile{
  visibility:hidden;
  }
}
@@media screen and (max-width : 906px){
 .desk{
  visibility:hidden;
  }
 .div-only-mobile{
  visibility:visible;
  }
}
    </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" oncontextmenu="return false;">
    <nav class="navbar navbar-default navbar-fixed-top" style="align-content:center; background-image:url('../../Content/Images/bb4.jpg')">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hidecontact" >Contact Us</button>
                <p  style="color:#800000">
                    <div id="contact" class="collapse navbar-collapse" >
                     <span class="glyphicon glyphicon-envelope"></span> kmaxxtnpsckanchi@gmail.com  &nbsp;<span class="glyphicon glyphicon-phone"></span> +91 8681888575<span class="glyphicon glyphicon-phone"></span> +91 9444544040<span><a href="https://www.facebook.com/groups/369361143258615/" target="_blank"> <img src="~/Content/Images/if_social-facebook-square2_771366.png" /></a> &nbsp;<a href="http://kmaxxtnpsc.blogspot.in/" target="_blank"> <img src="~/Content/Images/if_blogger_312520.png" /></a></span></div>
</p>
            </div>
            <div id="hidecontact" class="collapse">
                <ul class="nav navbar-nav">
                    <li>kmaxxtnpsckanchi@gmail.com </li>
                    <li>+91 8681888575</li>
                    <li>+91 9444544040</li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Course", "Course", "Course")</li>
                    <li>@Html.ActionLink("Batch Details", "updateDetails", "BatchDetails")</li>
                    <li class="dropdown">

                        <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Calendar", "Calendar")">Calendar <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Test Plan", "testdate", "TestPlan")</li>
                            <li>@Html.ActionLink("Year Plan", "YearPlan", "TestPlan")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Artifacts", "Artifacts")">Student's Corner <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Our Publications", "publication", "currentAffairs")</li>
                            <li>@Html.ActionLink("Question Paper", "Index", "currentAffairs", new { mode = "qusPaper" }, null)</li>
                            <li>@Html.ActionLink("Current Affairs", "Index", "currentAffairs", new { mode = "currentAffairs" }, null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                    @if (HttpContext.Current.Session["UserID"] != null && HttpContext.Current.Session["UserID"].ToString() != "")
                    {
                        <li>@Html.ActionLink("LogOut", "LogOff", "Login")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Login")</li>
                    }
                </ul>
            </div>

        </div>

    </nav>
    <div class="text-center" style="background-color:aliceblue;opacity:.9">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4">
                    <br/>
                    <img src="~/Content/Images/final2.png" style="background-color:transparent;height:150px;width:300px"  />
                </div>
                <div class="col-xs-4 text-center">
                    <br/>
                    <span style="font-size: 23px;color:#001a00;" class="apps">Knowledge</span>&nbsp;<span style="font-size: 23px;color:#001a00; padding-left:10px" class="apps">Maths</span>&nbsp;<span style="font-size: 23px;color:#001a00; " class="apps">Aptitude</span>&nbsp;<span style="font-size: 23px;color:#001a00; " class="apps">Xcellence</span>&nbsp;<span style="font-size: 23px;color:#001a00;" class="apps">Xperience</span>&nbsp;<br /> <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding-left:30px; font-size:23px;color:#4d1f00;">TNPSC/TET Coaching Centre</span><br/><span style="font-size:23px;color:#4d1f00;font-weight:bold">Kanchipuram</span>
                    @*<h4 class="text-capitalize">Knowledge <span class="text-capitalize">Aptitude</span>  Xcellence Xperience</h4> <h3>TNPSC/TET Coaching Institute</h3>*@
                    
                    
                </div>
                <br/>
                <div class="col-xs-4">
                    <img src="~/Content/Images/book.gif" style="background-color:transparent" height="140" width="200" />
@if (ViewBag.admin == true)
{
                    <p style="color:black">visitors: @ApplicationInstance.Application["Totaluser"]</p>
}
                </div>
            </div>
        </div>

    </div>
    <div class="container">   
        <br/>    
        @RenderBody()      
    </div>
    @{Html.RenderPartial("_footer");}
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
