﻿<div class="jumbotron" style="background-color:white;opacity:0.9">
    <h1>Notifications</h1>

    <div style="background-color:white;opacity:0.8;text-align:justify">

        @foreach (var item in ViewBag.allnotify)
        {
            <span>&#10004;</span> <a href="@item.link" target="_blank">@item.text</a><br /><br/>

        }
        <input type="button" class="btn-default pull-left" value="Back" onclick="location.href='@Url.Action("Index", "Home" )'" />
    </div>
</div>