﻿@model KMAXX.Models.aRecs

<div class="jumbotron" style="background-color:white;opacity:0.9">
    <p style="font-size:17px;color:black"> Users List</p>
    <table class="table">
        @for (int i = 0; i < Model.amList.Count; i++)
            {
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Mail ID
                </th>
                <th>
                    Qualification
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Valid User
                </th>
            </tr>
                <tr class="EvenRow">
                    <td>
                        @Html.DisplayFor(m => m.amList[i].name)
                    </td>
                    <td>@Html.DisplayFor(m => m.amList[i].mailId) </td>
                    <td>@Html.DisplayFor(m => m.amList[i].qualification) </td>
                    <td>@Html.DisplayFor(m => m.amList[i].phnumber) </td>
                    <td>@Html.DisplayFor(m => m.amList[i].validUser) </td>
                </tr>
        }
    </table>

    <input type="button" class="btn-default pull-left" value="Back" onclick="location.href='@Url.Action("Index", "Home" )'" />

</div>

