﻿@model KMAXX.Models.aRecs
    <style>
        .big-checkbox {
        height:20px;
        width:20px;
        }

    </style>
<div class="jumbotron" style="background-color:white;opacity:0.9">
    @using (Html.BeginForm("updateregister", "Home"))
    {
        @Html.AntiForgeryToken()
        <p style="font-size:17px;color:black">Check the checkbox to provide approval </p>
        <table class="table">
            @for (int i = 0; i < Model.amList.Count; i++)
            {
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                       Mail ID
                    </th>
                    <th>
                        Qualification
                    </th>
                    
                </tr>
                <tr class="EvenRow">
                    <td>
                        @Html.DisplayFor(m => m.amList[i].name)
                    </td>
                    <td>@Html.DisplayFor(m => m.amList[i].mailId) </td>
                    <td>@Html.DisplayFor(m => m.amList[i].qualification) </td>
                    <td>
                        @Html.CheckBoxFor(m => m.amList[i].extra_checked, new { @class = "checkbox big-checkbox" })
                        @Html.HiddenFor(m => m.amList[i].id)
                        @Html.HiddenFor(m => m.amList[i].mailId)
                        @Html.HiddenFor(m => m.amList[i].name)
                    </td>
                </tr>
            }
        </table>
        <p style="font-size:17px;color:black">@ViewBag.user</p>

        <input type="submit" />
    }
</div>