﻿@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    p {
        color:black;
    }
</style>
<div class="col-sm-6">
    <div>
        <div class="jumbotron" style="background-color:antiquewhite;opacity:.90; height:450px;">
            <h3 style="color:black">Contact Us</h3>
            <p style="color:black"> <span class="glyphicon glyphicon-map-marker"></span>No 50, Pachaiyappas Hr Sec School</p>
            <p style="color:black">Vallal Pachaiyappan Street</p>
            <p style="color:black">Kanchipuram - 631502</p>
            <p style="color:black">Tamilnadu</p>
            <p style="color:black"><span class="glyphicon glyphicon-phone"></span> +01 8681888575</p>
            <p style="color:black"><span class="glyphicon glyphicon-envelope"></span> kmaxxtnpsckanchi@gmail.com</p>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div>
        <div class="jumbotron" style="background-color:white;opacity:.90; height:450px;">
            <section id="QueryForm">
                @using (Html.BeginForm("sendqueries", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {


                    @Html.AntiForgeryToken()
                    <h4 style="color:black">For Any Queries</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">

                                <div class="col-md-10">
                                    @Html.TextBox("name", null, new { @class = "form-control", @data_val = "true", @data_val_required = "Name is required", placeholder = "Your Name" })
                                    @Html.ValidationMessage("name", "", new { @class = "text-danger", @style = "color:black" })
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-10">
                                    @Html.TextBox("mailid", null, new { @class = "form-control", @data_val = "true", @data_val_required = "Enter Mail ID", @type = "email", placeholder = "yourmail@mail.com" })
                                    @Html.ValidationMessage("mailid", "", new { @class = "text-danger", @style = "color:black" })
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-10">
                                    @Html.TextBox("phonenumer", null, new { @class = "form-control", @data_val = "true", @data_val_required = "Enter Phone#", @type = "tel", @maxlength = "10", @data_val_regex = "Check Number", @data_val_regex_pattern = @"^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$", placeholder = "1234567890" })
                                    @Html.ValidationMessage("phonenumer", "", new { @class = "text-danger", @style = "color:black" })
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-10">
                                    @Html.TextArea("description", null, new { @class = "form-control", @data_val = "true", @data_val_required = "Type Query", @maxlength = "200", placeholder = "Maximum 200 char" })
                                    @Html.ValidationMessage("description", "", new { @class = "text-danger", @style = "color:black" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Submit" class="btn btn-default" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 text-success">
                                    @ViewBag.status
                                </div>
                            </div>

                }
            </section>
        </div>
    </div>
</div>
   
    

       

