﻿

<!DOCTYPE html>
<html>
<head>
    <style>
        .pub {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
        }

        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
    </style>
</head>
<body>
    <div style="background-color:antiquewhite;opacity:.9; padding-left: 30px">
        <br/>
        <a target="_blank" href="~/Content/Images/IMG_0306.JPG">
            <img class="pub" src="~/Content/Images/IMG_0306.JPG" alt="Kmaxx" style="width:200px">
        </a>
        <a target="_blank" href="~/Content/Images/IMG_0310.JPG">
            <img class="pub" src="~/Content/Images/IMG_0310.JPG" alt="Kmaxx" style="width:200px">
        </a>
        <a target="_blank" href="~/Content/Images/IMG_0439.JPG">
            <img class="pub" src="~/Content/Images/IMG_0439.JPG" alt="Kmaxx" style="width:200px">
        </a>
        <a target="_blank" href="~/Content/Images/IMG_0441.JPG">
            <img class="pub" src="~/Content/Images/IMG_0441.JPG" alt="Kmaxx" style="width:200px">
        </a>
        <a target="_blank" href="~/Content/Images/IMG_0443.JPG">
            <img class="pub" src="~/Content/Images/IMG_0443.JPG" alt="Kmaxx" style="width:200px">
        </a>
        <a target="_blank" href="~/Content/Images/IMG_0464.JPG">
            <img class="pub" src="~/Content/Images/IMG_0464.JPG" alt="Kmaxx" style="width:200px">
        </a>
        <a target="_blank" href="~/Content/Images/IMG_20171021_144112_HDR.jpg">
            <img class="pub" src="~/Content/Images/IMG_20171021_144112_HDR.jpg" alt="Kmaxx" style="width:200px">
        </a>
        <a target="_blank" href="~/Content/Images/IMG_20171022_173639_HDR.jpg">
            <img class="pub" src="~/Content/Images/IMG_20171022_173639_HDR.jpg" alt="Kmaxx" style="width:200px">
        </a>
        <br/>
        <br/>
    </div>


</body>
</html>
