﻿﻿@model KMAXX.Models.notification
@Scripts.Render("~/bundles/jquery")
<style>
    .vertical .carousel-inner {
        height: 100%;
    }

    .carousel.vertical .item {
        -webkit-transition: 0.6s ease-in-out top;
        -moz-transition: 0.6s ease-in-out top;
        -ms-transition: 0.6s ease-in-out top;
        -o-transition: 0.6s ease-in-out top;
        transition: 0.6s ease-in-out top;
    }

    .carousel.vertical .active {
        top: 0;
    }

    .carousel.vertical .next {
        top: 400px;
    }

    .carousel.vertical .prev {
        top: -400px;
    }

        .carousel.vertical .next.left,
        .carousel.vertical .prev.right {
            top: 0;
        }

    .carousel.vertical .active.left {
        top: -400px;
    }

    .carousel.vertical .active.right {
        top: 400px;
    }

    .carousel.vertical .item {
        left: 0;
    }

    .weight {
        color: black;
        font-weight: bold;
    }

    .carimage {
        border-radius: 50%;
    }

    .carousel-control.right, .carousel-control.left {
        background-image: none;
        color: #f4511e;
    }

    .carousel-indicators li {
        border-color: #f4511e;
    }

        .carousel-indicators li.active {
            background-color: #f4511e;
        }

    .item h4 {
        font-size: 19px;
        line-height: 1.375em;
        font-weight: 400;
        font-style: italic;
        margin: 20px 0;
    }

    .item span {
        font-style: normal;
    }

    .slide {
        animation-name: slide;
        -webkit-animation-name: slide;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        visibility: visible;
    }

    @@keyframes slide {
        0% {
            opacity: 0;
            transform: translateY(70%);
        }

        100% {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    @@-webkit-keyframes slide {
        0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        }
    }

    @@media screen and (max-width: 768px) {
        .col-sm-4 {
            text-align: center;
            margin: 25px 0;
        }

        .btn-lg {
            width: 100%;
            margin-bottom: 35px;
        }
    }

    @@media screen and (max-width: 480px) {
        .logo {
            font-size: 150px;
        }
    }
    /*for moving link*/
    .movingLink {
        width: 500px;
        height: 30px;
        background: white;
        opacity: .90;
        align-self: center;
        position: relative;
        -webkit-animation: link 2s infinite; /* Safari 4.0 - 8.0 */
        animation: link 14s infinite;
    }

    /* Safari 4.0 - 8.0 */
    @@-webkit-keyframes link {
        from {
            left: -100px;
        }

        to {
            left: 1200px;
        }
    }

    @@keyframes link {
        from {
            top: -100px;
        }

        to {
            top: 1200px;
        }
    }

    /*for moving link*/
    marquee {
        -webkit-animation: caption 50s linear 0s infinite;
        font-family: 'Segoe ui';
        padding: 10px 0;
        border: 1px solid #000;
        background-color: #;
        -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
        -webkit-transition: background-color 350ms;
        -moz-transition: background-color 350ms;
        transition: background-color 350ms;
        overflow: hidden;
        overflow-x: -webkit-marquee;
        -webkit-marquee-direction: left;
        -webkit-marquee-style: scroll;
        -webkit-marquee-speed: normal;
        -webkit-marquee-increment: small;
        -webkit-marquee-repetition: 5;
        marquee-direction: forward;
        marquee-style: loop;
        marquee-speed: slow;
        marquee-play-count: 5;
        color: #28282a;
        background: white;
        opacity: 0.9;
        font-size: medium;
        color: black;
    }

    .jumbotron {
        padding-top: 10px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        color: inherit;
        background-color: #eee;
    }

    blockquote {
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
    }

        blockquote:before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }
</style>
<div class="row">
    <div class="col-xs-12">
        <div style="margin:10px 0 0 0">
            <marquee direction="left" speed="normal" behavior="loop" onmouseover="this.stop()" onmouseout="this.start()">
                <a href="@Url.Action("updateDetails","BatchDetails")" style="color:black"> Admission Opens For Group I,Group IV,Village Administrative Officer</a>
            </marquee>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">

            <div style="background-image:url('../../Content/Images/bb4.jpg');opacity:.98;border-radius:5%">
                @*<div style="background-color:antiquewhite;opacity:.98; height:200px;width:500px;position:relative;right:170px">*@
                <div id="portfolio" class="container-fluid text-center">

                    <h2 style="color:black;font-weight:bold">Success Story</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="~/Content/Images/IMG_0615.JPG" />
                                </div>
                                <div class="col-sm-6">
                                    <p style="color:black">
                                        <strong style="color:black">State 1st Rank, Assitant Jailor, 2017.</strong>
                                    </p>
                                    <small>
                                        <strong>
                                            G.Logeshwari
                                            <br />
                                            <br />
                                        </strong>
                                    </small>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div id="myCarousel" class="carousel slide text-center vertical" data-ride="carousel">
                                <!-- Indicators -->
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/G. Logeshwari Senior Revenue Inspector.jpg" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>K-maxx - right platform that helps me to reach my goal.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        G. Logeshwari, Senior Revenue Inspector
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/V. Gomatht.jpg" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>Best Centre with best faculties. Guest lecture adds more value.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        V. Gomathi , Assistant, Vigilance Department
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/kalp.jpg" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>My performance has changed a lot during preparation period with K-maxx.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        M. Kalpana, Assistant, RD & PR Department
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/J. Priyanka  Computer Operator  High Court of Madras.jpg" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <span class="text-center" style="color:orangered;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight:bold;font-size:15px">State 2nd Rank ,TNPSC 2016</span>
                                                    <blockquote>The way faculties are interacting with candidates and motivating them is great.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        J. Priyanka , Computer Operator , High Court of Madras
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="color:black" class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/C. Devi, Assistant, Vigilance Department.JPG" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>K-maxx has changed my life. The study material provided was very helpful.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        C.Devi, Assistant, Vigilance Department
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/E. Mariyappan, Field Surveyor, Kanchipuram.jpg" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>K-maxx has played an important role in my success. The faculty members are more friendly.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        E. Mariyappan, Field Surveyor, Kanchipuram
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/C. Sarath Kumar  Lab Assistant.JPG" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>My life changer. Perfect education was given at right time.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        C. Sarath Kumar, Lab Assistant
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/C. Umadevi Junior Assistant, Commercial Taxes Departmemt.JPG" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>K-maxx created a challenging environment. It is right choice for all ambitious aspirants.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        C. Umadevi Junior Assistant, Commercial Taxes Departmemt
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/E. Prakash, Junior Assistant, RD & PR Department.jpg" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>The best place to make your dreams come true. K-maxx has shaped me reach this height.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        E. Prakash, Junior Assistant, RD & PR Department
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/K. Poonkodi  Lab Assistant.JPG" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>Heartful Thanks to K-maxx to guide me in the path of success.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        K. Poonkodi , Lab Assistant
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/L. Deepa, Typist, Finance Department, Secretariat.jpg" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>Extraordianry thing about K-maxx is separate class for general English.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        L. Deepa, Typist, Finance Department, Secretariat
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/M. Arun,  Junior Assistant, Police Department (2).jpg" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>The material provided are very relevant and up to date. Thanks to K-maxx.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        M. Arun,  Junior Assistant, Police Department
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/P. Venkatesan  Junior Assistant, Police Department.JPG" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>The preparation guidance are comprehensive. Thanks to K-maxx from bottom of my heart.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        P. Venkatesan , Junior Assistant, Police Department
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/R.Vijayalakshmi VAO.jpg" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>I thank K-maxx for providing right guidance and teaching.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        R.Vijayalakshmi , VAO
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/S. Jagan, Typist, Court.jpg" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>Best centre for TNPSC coaching. Thanks to K-maxx.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        S. Jagan, Typist, Court
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/IMG_0614.JPG" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>Best centre for TNPSC coaching.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        K.Mohana , Steno Typist , High Court of Madras
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/V. Radhakrishnan  Deepa, Typist, Finance Department, Secretariat.jpg" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>K-maxx created a challenging environment. Thanks a lot to the faculties of K-maxx.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        V. Radhakrishnan , Typist, Finance Department, Secretariat
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div><div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/M.Anitha , Lab Assistant.jpg" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>K-maxx has given me lot of strength and motivation.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        M.Anitha , Lab Assistant
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/J. Priyanka, Typist, finance Department, Secretariat.JPG" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>K-maxx has given me moral strength and motivation and helped me a lot to reach this place.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        J. Priyanka, Typist, finance Department, Secretariat
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <img class="carimage" src="~/Content/Images/V.Muthukumaran, Junior Assistant.jpeg" />
                                            </div>
                                            <div class="col-sm-8 text-left">
                                                <p style="color:black">
                                                    <blockquote>Gives lot of positive energy to drive in success path. Thanks to K-maxx.</blockquote>
                                                </p>
                                                <small>
                                                    <strong>
                                                        V.Muthukumaran, Junior Assistant
                                                        <br />
                                                        <br />
                                                    </strong>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-4">
            <div>

                <div id="notification" style="overflow:auto;background-color:white;opacity:.92;font-size:small;border-radius:10px;padding-left:10px">
                    @*<div style="overflow:auto;background-color:antiquewhite;opacity:.92; height:300px;width:300px;position:absolute;left:200px;padding-left:10px;font-size:small;border-radius:10px">*@
                    <h3 style="color:black">News & Events</h3>
                    <div>
                        @foreach (var item in ViewBag.notifications)
            {
                            <a href="@item.link" target="_blank">@item.text</a><img src="~/Content/Images/new6__e0.gif" /><br />

                        }
                    </div>
                    @if (ViewBag.admin == true)
                    {
                        using (Html.BeginForm("getthelatestnotification", "Home", FormMethod.Post))

                        { @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.TextBoxFor(x => x.text, new { placeholder = "Display Text" });
                            @Html.ValidationMessageFor(x => x.text)
                            @Html.TextBoxFor(x => x.link, new { placeholder = "URL" });
                            @Html.ValidationMessageFor(x => x.link)
                            <p><input type="submit" id="submitId" value="submit" /></p>
                        }
                    }

                    <a href="@Url.Action("AllNoti","Home")" style="position:relative;bottom:0px;right:0px">View All</a>

                </div>
            </div>
        </div>
    </div>

    </div>
    <br />
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <div class="jumbotron" style="background-color:white;opacity:.90;">
                        @* <div class="jumbotron" style="background-color:antiquewhite;opacity:.90; height:300px;width:700px">*@
                        <h3 style="color:black">About Us</h3>
                        <p style="color:black;font-size:17px">
                            Started in 2014 , K-Maxx has set a standard in preparatory courses for TNPSC/TET exams like Group I, Group II , Group IV , VAO , TET.

                            Since initiation, the centre has helped more aspirants realize their dreams. K-Maxx leads in extremely effective method of imparting knowledge.

                            K-Maxx prides itself by presenting maximum scores with exceptional programs for TNPSC/TET, Our values drive us towards our
                            goals of greatness.Our values drive us to define our operations and achievement.The speciality of K-maxx is adapting to the changing times
                            while remaining steadfast to the values.
                            We have adopted student friendly approach as always and have come a long way in indulging to the student community.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


