﻿

@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")



@if (ViewBag.isadmin == true)
{
<div>
    <div class="container">
        <h2>Test Plan</h2>
        <p>We are conducting test for each course separatly for every week. Here you can find the test schedule for the current period</p>
        <div class="row clearfix">
            <div class="col-md-12 column">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Test ID
                                    </th>
                                    <th>
                                        Subject
                                    </th>
                                    <th>
                                        Date of Exam
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var test in ViewBag.test)
                                {
                                    <tr>
                                        <td> @test.id</td>
                                        <td> @test.testSub</td>
                                        <td> @test.testDate</td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (ViewBag.isadmin == false)
{
    using (Html.BeginForm("postList", "TestPlan", FormMethod.Post))
    {
        <div>
        <div class="container">
            <h2>Test Plan</h2>
            <p>We are conducting test for each course separatly for every week. Here you can find the test schedule for the current period</p>
            <div class="row clearfix">
                <div class="col-md-12 column">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="tab_logic">

                            <thead>
                                <tr>
                                    <th>
                                        Subject
                                    </th>
                                    <th>
                                        Date of Exam
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                
@{ 
    int i = 0;
    foreach (var test in ViewBag.test)
    {
                                @*<tr id= "tr">
                                    <td class="nandhini">
                                      1
                                    </td>
                                    <td>
                                        <input id="rig" type="text" name="rtyy" placeholder='Subject' class="discout" value="subjet" />
                                    </td>
                                    <td>
                                        <input id="date" type="text" name='date' placeholder='Date' class="form-control" value="4" />
                                    </td>
                                </tr>*@
                                @*<tr id='addr'+(@ViewBag.testcount)></tr>*@
    <tr>
        <td>
            @Html.TextBox(o => o.test[i]., new { @id = "ItemCode_" + i })
        </td> 
    </tr>
        }
    }
                                          </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
            <input type="submit" value="Place Order" class="btn btn-primary" /> 
        <a id="add_row" class="btn btn-default pull-left">Add Row</a><a id="Button1" class="btn btn-default">Add Row</a><a id='delete_row' class="pull-right btn btn-default">Delete Row</a>
    </div>
    }
}

                        <script type="text/javascript">
                            $(document).ready(function () {
                                var i =  @ViewBag.testcount;
                                $("#add_row").click(function () {
                                    //$('#addr'+i).html("<td>" + (i + 1) + "</td><td><input name='name" + i + "' type='text' placeholder='Name' class='form-control input-md'  /> </td><td><input  name='mail" + i + "' type='text' placeholder='Mail'  class='form-control input-md'></td>");

                                    $('#tab_logic').append('<tr id="addr' + (i) + '"><td> '+i+'</td><td><input name = "subject" type = "text" placeholder = "Subject" class = "form-control input-md"/> </input></td><td><input name = "date" type = "text" placeholder = "Date" class = "form-control input-md"/> </input></td></tr>');
                                    i++;
                                });
                                $("#delete_row").click(function () {
                                    
                                        $("#addr" + (i - 1)).html('');
                                        i--;
                                    
                                });

                           
                                $("#Button1").click(function(){
                                   
                                    var paid = $(this).closest('tr').children('td.nandhini').val();
                                    $('#tab_logic').append('<tr id="addr' + (paid) + '"><td> '+paid+'</td><td><input name = "subject" type = "text" placeholder = "Subject" class = "form-control input-md"/> </input></td><td><input name = "date" type = "text" placeholder = "Date" class = "form-control input-md"/> </input></td></tr>');
                                    i++;
                            });
                            });
                        </script>


