﻿
<div class="jumbotron" style="background-color:antiquewhite;opacity:.9;">
    <h2>Year Plan for TNPSC exam</h2>
    <p style="color:black;">The board of TamilNadu Public Service Commission is conducting exam to fill up the vacancies in state governmental post.
    <br/>To View the Year Plan of TNPSC Exams Click Here </p>
    <p><a href="http://www.tnpsc.gov.in/annual-planner.html" target="_blank">View the Exams</a> </p>
</div>

